# Database Specific Variables
export DB_USER="postgres"
export DB_PASSWD="changeme"
export DB_NAME="mydb"
export DB_PORT="5432"

export DB_REPL_USER="replicator"
export DB_REPL_PASSWD="replicator"


# Container Variables
export DB_CONTAINER_NAME="postgresql18-simple"


# ProxySQL Variables
export PROXYSQL_DB_HOST="localhost"
export PROXYSQL_DB_PORT="6133"
export PROXYSQL_ADMIN_PORT="6132"
export PROXYSQL_DB_USER="appuser"
export PROXYSQL_DB_PASSWD="appuser"

