export DB_USER="postgres"
export DB_PASSWD="changeme"
export DB_NAME="mydb"
export DB_PORT="5432"

export PROXY_DB_HOST="localhost"
export PROXY_DB_PORT="6133"
export PROXY_ADMIN_PORT="6132"

export DB_CONTAINER_NAME="postgresql18-simple"
export PROXYSQL_CONTAINER_NAME="sysbench-proxysql"
